body {
  background: rgb(250, 250, 250);
}

.App {
  text-align: center;

}

a {
  text-decoration: none;
  color: rgb(37, 37, 37);
  cursor: pointer;
}

.navbar {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
  padding: 20px 0;
  transition: all 1.5s ease-in-out;
}

.navbar li:hover {
  color:rgb(112, 112, 112);
  transition: all 0.75s ease-in-out;
  border-bottom: 1px solid rgb(223, 223, 223);
}


.navbar button {
  margin: 0px 20px 0 0;
  padding: 12px 35px;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  background-color: #1046b9;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #2b93e7;
  transition: all 0.2s ease-in-out;
}

.navbarshop {
  display: flex;
  justify-content: center;
}


.carticon {
  margin: 5px 0 0 20px;
  position: relative;
  z-index: 1;
}

.carticon p {
  position: absolute;
  top: -31px;
  font-weight: bold;
  left: 10px;
  color: white;
  background-color: rgb(204, 30, 30);
  border-radius: 55px;
  z-index: 999;
  padding: 1px 5px;
}

.header {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px auto;
  max-width: 960px;
}

.header h3 {
  font-size: 1.3rem;
}

.header h1 {
  font-size: 4rem;
  margin: 35px 0 80px;
}

.header p {
  font-size: 1.2rem;
}

.header span {
  font-weight: bold;
}

.header button {
  width: 80%;
  height: 55px;
  border: none;
  margin-top: 75px;
  border-radius: 50px;
  background-color: rgb(255, 64, 80);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.header button:hover {
  background-color: rgb(253, 49, 66);
  transition: all 0.2s ease-in;
  width: 85%;
  height: 58px;
  font-size: 1.15rem;
}

.swiper {
  margin: 50px 0;
  width: 100%;
  height: 300px;
}

.reviewCard {
  width: 470px;
  height: 210px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(246,246,246,1) 100%);
  box-shadow: 1px 3px 7px rgb(228, 228, 228);
  border-radius: 25px;
  margin: 20px auto;
  padding: 0;
}

.swiper-container {
  padding: 0;
}

@media screen and (min-width: 1250px ) {
  .swiper {
    max-width: 1650px;
  }
  
}

@media screen and (max-width: 960px ) {
  .swiper-container {
    width: 100%;
  }

  .reviewCard {
    width: 80%;
  }
  
}

.userReview {
  padding: 0;
  margin: 0;
}

.reviewTop {
  margin: 0;
  padding: 25px 0 0 35px;
  display: flex;
  align-items: center;
}

.reviewTop img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 25px ;
}

.reviewBot {
  margin: 10px 35px 20px 35px;
}

.featuredbytext {
  text-align: center;
  margin: 55px;
  padding: 0;
  color: #0e265a;
  font-size: 1.35rem;
}

.featuredbytext p {
  border-bottom: 1px solid #adbfe7;
  padding-bottom: 17px;
  width: 350px;
  margin: 0 auto;
}

.featuredby {
  height: 100px;
  width: 100%;
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  justify-self: center;
  align-items: center;
  margin: 50px 0 105px;
}

.featuredby a {
  text-decoration: none;
  color: white;
}

.builtFor {
  text-align: center;
  max-width: 850px;
  margin: 175px auto 100px;
}

.builtFor h1 {
  font-size: 2.5rem;
}

.didyou {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 125px 0 80px;
}

.didyou h2 {
  font-weight: normal;
  line-height: 2.5rem;
}

.didyou h4 {
  font-weight: bold;
  margin: 55px 0;
  font-size: 1.15rem;
}

.didyou h1 {
  color: rgb(255, 64, 80);
}

.offers {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 1350px;
  margin: 75px auto 125px;
}

.offersWrapper {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  padding-top: 25px;
  /*
  box-shadow: 0px 2px 10px rgb(202, 202, 202);
  background: rgb(238,241,247);
  background: linear-gradient(0deg, rgba(238,241,247,1) 0%, rgba(255,255,255,1) 100%, rgba(246,246,246,1) 100%);  
  */
  
}

.offers img {
  width: 85%;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0px 2px 5px rgb(211, 211, 211);
}

.offers h3 {
  color: #1046b9;
  margin-top: 50px;
  font-size: 2rem;
}

.offers p {
  margin: 55px auto 35px auto;
  padding: 0 45px;
  font-size: 1.1rem;
  line-height: 2rem;
  max-width: 850px;
}

.offers button {
  width: 170px;
  height: 50px;
  border: none;
  margin: 35px 0 50px;
  border-radius: 50px;
  background-color: rgb(255, 64, 80);
  color: white;
  font-size: 1rem;
}

.offers button:hover {
  width: 182px;
  height: 58px;
  transition: all 0.5s ease-out;
  background-color: rgb(255, 56, 56);
  cursor: pointer;
  font-size: 1.02rem;
}

.limitedofferContainer {

  background-color: rgb(22, 22, 41);

  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 80px 0 60px;

}

.limitedoffer {
  padding: 0px 50px 50px 50px;
  color: white;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.limitedofferWrapper {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.limitedoffer h4 {
  color: rgb(107, 233, 69);
  font-weight: normal;
}

.limitedofferWrapper h3 {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0px 0 0px 0;
  color:rgb(226, 226, 240);
}

.limitedofferWrapper {
  margin: 0 auto;
  text-align: center;
}

.limitedofferDiscord {
  max-width: 550px;
  margin: 0 auto;
}

.limitedofferDiscord img {
 height: 150px;
}

.limitedofferContainer button {
  margin: 20px 0 10px 0;
  width: 150px;
  height: 49px;
  border-radius: 8px;
  border: none;
  background-color:crimson;
  font-weight: bold;
  color: white;
  transition: all 0.1s ease-in-out;
}

.limitedofferContainer button:hover {
  width: 155px;
  height: 53px;
  background-color: rgb(194, 24, 38);
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.discordnote {
  margin: 55px 0;
  color:rgb(100, 100, 150);
  cursor: pointer;
}


.footer {
  margin: 40px auto 0;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
  flex-direction: column;

}

.footer a:hover {
  color:rgb(144, 144, 144);
}

.quicklinks {
  display: flex;
  flex-direction: column;
}

.quicklinks p {
  font-size: 1.3rem;
}

.quicklinks ul {
  list-style: none;
  display: flex;
  margin-top: 30px;
  padding: 0;
}

.quicklinks li {
  margin: 0 45px;
}

.footer p {
  margin: 0 auto;
  color:rgb(80, 80, 80);
}

.footerend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto 0px;

}

.footerend p {
  padding: 0 25px 0 0;
}

.footer img {
  width: 250px;
  margin: 0 35px 0 100px;
}

.disclaimer {
  margin-top: 55px;
  width: 80%;
}

.disclaimer p {
  color: rgb(163, 163, 163);
}

.requests {
  width: 100%;
  height: 900px;
  background-image: url('./components/customrequestswhitebgv2.jpg');
  background-size: cover;
  background-position: center;
}

.requestsbody {
  padding-top: 100px;
  text-align: center;
  color: white;
}

.requestsbody h1 {
  text-shadow: 0px 0px 10px rgb(27, 27, 27);
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.custombox {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.requestBox {
  width: 400px;
  background-color: rgba(0,0,0, 0.7);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  height: 480px;
  margin: 100px 0 50px;
  transition: all 0.2s ease-in-out;
}

.requestBox:hover {
  transition: all 0.5s ease-in-out;
  padding: 3px 2px;
}

.requestBox:hover p {
  color: white;
}


.requestBox h1 {
  font-size: 2rem;
  margin-top: 2rem;
  color:#f1f4f8;
}

.requestBox p {
  font-size: 1.3rem;
  padding: 0 25px;
  line-height: 2rem;
  color: rgb(204, 245, 255);
  transition: all 0.7s ease-in-out;
}



.custombox img {
  width: 70%;
  height: 150px;
  margin: 30px 0;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
}

.customcertificate {
  margin: 130px auto;
  max-width: 1150px;
}

.customcertificate h3 {
  margin: 0 25px;
  font-weight: 500;
  line-height: 3rem;
}

.contactform {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: rgb(24,70,161);
background: linear-gradient(351deg, rgba(24,70,161,1) 0%, rgba(14,38,90,1) 73%);



color: white;
}

.contactform form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: left;
  align-items: left;
  text-align:left;
  margin: 40px 0;
}

.contactform p {
  margin: 10px 0 0 0;
  padding: 0;
}

.contactform input {
  width: 300px;
  height: 32px;
  font-size: 1rem;
  margin: 15px 0;
  padding: 2px 9px;
  border-radius: 5px;
  border: 1px solid rgb(172, 172, 172);
}

form input:focus {
  outline: none;
  border: 2px solid rgb(99, 145, 54);
}

.contactform textarea {
  width: 80%;
  height: 80px;
  margin: 15px 0;
  padding: 11px 15px;
  border-radius: 5px;
  border: 1px solid rgb(172, 172, 172);
  font-size: 1.05rem;
}

form textarea:focus {
  outline: none;
  border: 2px solid rgb(99, 145, 54);
}

.contactform button {
  font-size: 1rem;
  width: 140px;
  height: 45px;
  margin: 45px 0;
  padding: 2px 9px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
}

.contactform button:hover {
  background-color: rgb(255, 68, 68);
  cursor: pointer;
}

.contactform span {
  margin: 0 0 30px;
  color: lawngreen;
}

.shopwrapper {
  text-align: center;
  margin-bottom: 150px;
}

.shopwrapper h1 {
  margin: 100px 0;
  color: rgb(255, 40, 40);
  text-decoration: underline 2px;
}

.itemWrapper {
  margin: 80px auto;
  max-width: 1350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.shopitem {
  width: 350px;
  background: rgb(185,185,185);
background: linear-gradient(0deg, rgba(185,185,185,0.29175420168067223) 0%, rgba(255,255,255,0) 51%);

  transition: all 0.1s ease-in-out;
  
  margin: 50px auto;
  border-radius: 10px;
  padding: 50px 0;
  box-shadow: 0px 3px 5px rgb(148, 148, 148);
}

.shopitem h2 {
  color: #173983;
  font-weight: normal;
  text-shadow:#a5bbe9 3px 3px 2px;
}

.shopitem img {
  width: 300px;
  height: 165px;
  border-radius: 8px;
}

.shopitem:hover {
  color:#414141;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
  box-shadow: 0px 7px 9px rgb(119, 119, 119);

}

.shopitem:hover img {
  width: 305px;
  transition: all 0.2s ease-in-out;
}

.shopitem button {
  margin-top: 25px;
  padding: 11px 55px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid rgb(24, 33, 63);
  color: rgb(26, 39, 75);
  background-color: rgba(255,255,255,0.45);
  transform: all 0.2s ease-in-out;
}

.shopitem button:hover {
  background-color: white;
  color: black;
  padding: 12px 57px;
  transition: all 0.2s ease-in-out;
}

.boldprice {
  font-weight: bold;
}

.invisid {
  display: none;
}

/* navbar cart icon */

.navbar img {
  width: 35px;
  height: 35px;
}

/* cart styling */

.remove {
  color: red;
  font-weight: bold;
  font-size: 1.6rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  height: 100%;
  margin-top: 100px;
}

.cartitem {
  width: 100%;
  height: 250px;
  margin: 50px auto 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cartitem img {
  width: 300px;
  height: 205px;
  padding: 25px 25px 25px 0;
}

.productsummary {
  margin: 50px 0;
}

.cartwrapper {
  align-items: center;
  text-align: center;
  max-width: 960px;
  justify-content: center;
  margin: 80px auto;
}

.cartwrapper h1 {
  font-weight: 400;
}

.productnameimg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.productnameimg h1 {
   font-size: 2rem;
   width: 300px;
   padding: 0;
   margin: 50px 0px 60px 0;
}

.emptyshopcart {
  margin: 200px 0;
}

.subtotal {
  margin: 100px 0 100px 70%;
  max-width: 960px;
}

.subtotal span {
  font-weight: 500;
}

.subtotal p {
  font-size: 2rem;
}

.handleClear {
  border: none;
  padding: 12px 50px;
  background-color: rgb(238, 238, 238);
  color: rgb(98, 98, 98);
  border-radius: 50px;
  font-size: 1.1rem;
  border: 1px solid rgb(199, 199, 199);
  margin: 30px 0 30px;
  cursor: pointer;
}

.handleClear:hover {
  color: white;
  background-color: #999999;
}

.cartbtns {
  display: flex;
  flex-direction: column;
}

.checkOut {
  border: none;
  padding: 12px 50px;
  background-color: rgb(38, 63, 206);
  color: rgb(236, 239, 255);
  border-radius: 50px;
  font-size: 1.1rem;
  border: 1px solid rgb(29, 7, 90);
  margin: 0px 0 30px;
  cursor: pointer;
}

.checkOut:hover {
  color: white;
  background-color: #2c5de4;
  border: 1px solid #2c5de4;
}


/* RESPONSIVE DES. */

@media (max-width: 1000px) {

  .header {
    margin: 0 50px;
  }
  
}

@media (max-width: 1180px) {
  .footerend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    padding: 0;
  }

  .footerend img {
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 30px auto 0;
    padding: 0 auto;

  }

  .footerend p {
    margin-top: 10px;
    padding: 0;
  }

  .copyright {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .displaynone {
    display: none;
  }

  .limitedofferWrapper {
    width: 40%;
  }

  .limitedofferDiscord {
    width: 40%;
  }

  .limitedoffer {
    padding-bottom: 0;
  }

  .quicklinks li {
    margin: 0 25px;
  }


}

@media (max-width: 960px) {
  .didyou {
    margin: 0 30px;
  }

  .builtFor {
    margin: 0 30px;
  }

  .footerend {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .copyright {
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 0px auto;
  }

  .custombox {
    flex-direction: column;
  }

  .requestBox {
    width: 450px !important;
    height: 435px !important;
    padding: 20px 10px;
  }
}

@media (max-width: 1350px) { 
  .requestBox {
    width: 30%;
  }
  .requests {
    height: auto;
  }
}

@media (max-width: 1130px) { 
  .requestBox {
    width: 30%;
    height: 475px;
  }

  .requestBox h1 {
    font-size: 1.7rem;
  }
}




@media (max-width: 600px) { 

  .requestBox {
    width: 80% !important;
    padding: 10px 0 15px;
  }



  .navbar {
    flex-direction: column;
    height: 150px;
    margin-bottom: 80px;
  }

  .navbarshop { 
    margin: 5px auto;
  }

  .header button {
    width: 100%;
    font-size: 0.95rem;
  }

  .featuredby {
    font-size: 1.25rem;
  }

  .limitedoffer {
    flex-direction: column;
  }

  .limitedofferWrapper {
    width: 80%;
  }

  .limitedofferDiscord {
    width: 80%;
    margin-bottom: 25px;
  }

  .limitedoffer {
    padding-bottom: 0;
  }

  .quicklinks li {
    justify-content: center;
    text-align: center;

    margin: 0 10px;
  }

  .quicklinks ul {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}



@media (max-width: 460px) { 

  .requestBox {
    width: 90% !important;
    height: auto !important;
    padding: 0px 0 35px;
  }


  .requestBox p {
    font-size: 1.1rem;
  }

  .requestBox:hover {
    transition: all 0.5s ease-in-out;
    padding: 5px 5px 50px;
  }
 
}


@media (max-width: 500px) {  
  .featuredby {
    font-size: 0.8rem;
  }

  .header button {
    font-size: 0.8rem;
  }

}

/* custom requests contact form */


@media (max-width: 1300px) {

  .contactform form {
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: left;
      align-items: left;
      text-align:left;
      margin: 40px 0 40px 100px;
}
}




@media (max-width: 900px) {

  .contactform form {
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: left;
      align-items: left;
      text-align:left;
      margin: 40px 0 40px 20px;
}
}

@media (max-width: 900px) {

  .contactform form {
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: left;
      align-items: left;
      text-align:left;
      margin: 40px 0 40px 0px;
}
}

@media (max-width: 550px) {
  
.contactform {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: rgb(24,70,161);
background: linear-gradient(351deg, rgba(24,70,161,1) 0%, rgba(14,38,90,1) 73%);



color: white;
}

.contactform form {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: left;
  align-items: center;
  text-align:left;
  margin: 40px 0;
}

.contactform p {
  margin: 10px 0 5px 0;
  padding: 0;
}

.contactform input {
  width: 90%;
  height: 32px;
  font-size: 1rem;
  margin: 15px 0;
  padding: 2px 9px;
  border-radius: 5px;
  border: 1px solid rgb(172, 172, 172);
}

form input:focus {
  outline: none;
  border: 2px solid rgb(99, 145, 54);
}

.contactform textarea {
  width: 95%;
  height: 80px;
  margin: 15px 0;
  padding: 11px 15px;
  border-radius: 5px;
  border: 1px solid rgb(172, 172, 172);
  font-size: 1.05rem;
}
}

@media (max-width: 1150px) {
  .itemWrapper {
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .shopitem {
    width: 400px;
    background: rgb(185,185,185);
  background: linear-gradient(0deg, rgba(185,185,185,0.29175420168067223) 0%, rgba(255,255,255,0) 51%);
  
    transition: all 0.1s ease-in-out;
    
    margin: 50px auto;
    border-radius: 10px;
    padding: 50px 0;
    box-shadow: 0px 3px 5px rgb(148, 148, 148);
  }

}

@media (max-width: 850px) {
  .itemWrapper {
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .shopitem {
    width: 350px;
    background: rgb(185,185,185);
  background: linear-gradient(0deg, rgba(185,185,185,0.29175420168067223) 0%, rgba(255,255,255,0) 51%);
  
    transition: all 0.1s ease-in-out;
    
    margin: 50px auto;
    border-radius: 10px;
    padding: 50px 0;
    box-shadow: 0px 3px 5px rgb(148, 148, 148);
  }

}


@media (max-width: 750px) {
  .itemWrapper {
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .shopitem {
    width: 325px;
    background: rgb(185,185,185);
  background: linear-gradient(0deg, rgba(185,185,185,0.29175420168067223) 0%, rgba(255,255,255,0) 51%);
  
    transition: all 0.1s ease-in-out;
    
    margin: 50px auto;
    border-radius: 10px;
    padding: 50px 0;
    box-shadow: 0px 3px 5px rgb(148, 148, 148);
  }

}

@media (max-width: 700px) {
  .itemWrapper {
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .shopitem {
    width: 375px;
    background: rgb(185,185,185);
  background: linear-gradient(0deg, rgba(185,185,185,0.29175420168067223) 0%, rgba(255,255,255,0) 51%);
  
    transition: all 0.1s ease-in-out;
    
    margin: 50px auto;
    border-radius: 10px;
    padding: 50px 0;
    box-shadow: 0px 3px 5px rgb(148, 148, 148);
  }

}

@media (max-width: 415px) {
  .itemWrapper {
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .shopitem {
    width: 325px;
    background: rgb(185,185,185);
  background: linear-gradient(0deg, rgba(185,185,185,0.29175420168067223) 0%, rgba(255,255,255,0) 51%);
  
    transition: all 0.1s ease-in-out;
    
    margin: 50px auto;
    border-radius: 10px;
    padding: 50px 0;
    box-shadow: 0px 3px 5px rgb(148, 148, 148);
  }

  .navbar li {
    margin: 0 8px;
  }

}

@media (max-width: 1000px) {
  .cartwrapper {
    width: 90%;
  }

  .subtotal{
    width: 100%;
    margin: 80px auto 20px;
  }

  .cartitem {
    height: 100%;
  }

  .productnameimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .productnameimg img {
    grid-column: 1/6;
    margin: 0 auto;
    width: 400px;
    height: 300px;
  }

  .productpricetitle {
    grid-column: 3/4;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .productnameimg p {
    margin-top: 150px;
    grid-column: 5/6;
  }

}



@media (max-width: 700px) {
  .cartwrapper {
    width: 90%;
  }

  .subtotal{
    width: 100%;
    margin: 80px auto 20px;
  }

  .cartitem {
    height: 100%;
    margin-bottom: 50px;
  }

  .productnameimg {
    display: flex;
    flex-direction: column;
  }

  .productnameimg img {
    margin: 0 auto;
    width: 400px;
    height: 300px;
  }

  .productpricetitle {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .productnameimg p {
    margin-top: 50px;
  }

}

@media (max-width: 500px) {
  .productnameimg img {
    margin: 0 auto;
    width: 320px;
    height: 220px;
  }
}


.subtotalitems {
  display: flex;
  flex-direction: column;
}

.subtotalitems span {
  margin: 15px auto;
}

.checkoutbuttons p {
  font-size: 1.5rem;
  color: rgb(47, 47, 47);
  font-weight: light;
}

.checkoutbuttons span {
  color: black;
  font-weight: bold;
}

@media (max-width: 550px) {
  .quicklinks, .footer {
    width: 100% !important;
    padding: 0;
  }
}